<%= form_for @employee, url: "/create/emp" do |employee| %>
  <label> first_name </label>
  <%= employee.text_field :first_name %><br />

  <%#= employee.label :last_name %>:
  <%= employee.collection_select(:department_id, @departments, :id, :name) %>
  <%= employee.submit "create" %>
<% end %>