<h2> Add employee attendence</h2>
<form action ="/create_attendence" method = "post">
<label>employee_id</label><br/>
<input type ="text" name= "employee_detail_id" placehodler="enter id"/> <br/>
<labe>date and time of entrance(yyyy-mm-dd hh:mm:ss)</labe><br/>
<input type ="text" name = "date_and_time_of_entrance" placehodler="enter date and time of entrance"/> <br/><br/>
<labe>date and time of exit(yyyy-mm-dd hh:mm:ss)</labe><br/>
<input type ="text" name = "date_and_time_of_exit" placehodler="enter date and time of entrance"/> <br/><br/>
<input class = "submitted" type ="submit" value ="submit"/>
</form>

