<form action="/create_qualification" method="POST">
<table border='1'>
  <tr>
    <th colspan="3">Employee Qualification </th>
  
    <tr>
      <td>employee id</td>
      <td><input type ="text" name = "employee_detail_id"></td>
    </tr>
    
    <tr>
      <td>high school per</td>
      <td><input type = "text" name = "high_school_percantage" placeholder ="enter 10th percentage"></td>
    </tr>
      
    <tr>
      <td>intermediate percentage</td>
      <td><input type = "text" name = "intermediate_per" placeholder ="enter 12th percentage"></td>
    </tr>
    <tr>
      <td>graduation course</td>
      <td><input type = "text" name = "graduation_course" placeholder = "enter emailid"></td>
    </tr>
    <tr>
      <td>grad percentage</td>
      <td><input type = "text" name = "graduation_percantage" placeholder = "enter contact n0"></td>
    </tr>
    <tr>
      <td>passing year</td>
      <td><input type = "text" name = "passing_year" placeholder ="enter department id"></td>
    </tr>
    <tr>
      <td>any other course</td>
      <td><input type = "text" name = "any_other_course_specify" placeholder ="enter address"></td>
    </tr>
   
    
    <tr><td><input type = "submit" value ="submit"></input></td></tr> 
    </table>
 </form>
