<h2> Click to go </h2> <br/><hr/>
<ul>
  <li>
    <%= link_to "view all employee detail", controller: 'hr', action: 'emp_detail' %><br/>
  </li>
  <li>
    <%= link_to "view all employee department", controller: 'hr', action: 'department' %><br/>
  </li>
  <li>
    <%= link_to "view all employee attendence", controller: 'hr', action: 'attendence' %><br/>
  </li>
  <li>
<%= link_to "view all employee qualification", controller: 'hr', action: 'emp_qualification' %>
</li>
</ul>