<h2> HRMS </h2>
<hr/>
<h3> click on below link </h3>
<hr/>
<%= link_to "view all employees", employees_path %><br/>
<%= link_to "view all qualifications", qualifications_path %><br/>
<%= link_to "view all departments", departments_path %><br/>
<%= link_to "view all attendence", attendences_path %>