.main
{
/*   background-image: url('img2.jpeg')
    */
  background-color: darkgrey;
}
.div_head
{
  
   
    height: 150px;
    background-image: url('blue.png') ; 
   // background-repeat: no-repeat;

}


.div_form_container
{
  background-color: lightgray;
  margin: 1px 25px 40px 250px;
  overflow: auto;
  width: 70%;
  min-height: 630px;
}
.left
{
  margin-left: -800px;
   margin-top: 20px;
  
  
}
.right
{
  margin-left: -150px;
  margin-top: -20px;
  
  
}
input.btn_save
{
   width: 7em;
  height: 3em;
}